doctype html
html(lang="en",ng-app="carsApp")
  head
    meta(charset="utf-8")
    script(src="/js/store.js")
    script(src="/lib/angular/angular.js")
    script(src="/lib/angular-route/angular-route.js")
    script(src="/lib/ngstorage/ngStorage.js")
    script(src="/js/CarsApp.js")
    script(src="/js/CarsController.js")
  body
    div(ng-view)
